<!-- Intro -->
<div id="intro">
    <h1 style="color: #ffffff; text-shadow: 0px 4px 15px #000000, 0px 2px 4px rgba(0,0,0,0.8);">
        Portafolio<br />
        Audiovisual
    </h1>
    
    <p style="background-color: rgba(0, 0, 0, 0.6); display: inline-block; padding: 5px 15px; border-radius: 4px; color: #eeeeee;">
        Emanuel Reyes Realizador en cine y artes audiovisuales
    </p>
    
    <ul class="actions">
        <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
</div>
