{% assign current_page = page.url %}

<nav id="nav">
    <ul class="links">
        
        <li {% if current_page == "/" or current_page == "/index.html" %} class="active" {% endif %}>
            <a href="{{ site.baseurl }}/">Inicio</a>
        </li>

        </ul>

    <ul class="icons">
        {% if site.twitter_url %}
        <li><a href="{{ site.twitter_url }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        {% endif %}
        {% if site.instagram_url %}
        <li><a href="{{ site.instagram_url }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        {% endif %}
        {% if site.github_url %}
        <li><a href="{{ site.github_url }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
        {% endif %}
        {% if site.linkedin_url %}
        <li><a href="{{ site.linkedin_url }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
        {% endif %}
        </ul>
</nav>

<!-- Main -->
<div id="main">
