<!DOCTYPE HTML>
<html>

    {% include head.html %}

      <body class="is-loading">

        <div id="wrapper" class="fade-in">

            {% include intro.html %}
            {% include header.html %}
            {% include menu.html %}

                    <article class="post featured">
                            <header class="major">
                                <span class="date">28 de enero, 2026</span>
                                <h2><a href="#">Cine, tecnología y <br />
                                trabajo en equipo</a></h2>
                                <p>Soy Emanuel Reyes, Realizador en Cine y Artes Audiovisuales. <br /> 
                                Mi trabajo se define por la curiosidad técnica y la convicción de que la comunicación asertiva <br /> 
                                es el motor que hace que cualquier proyecto audiovisual llegue a puerto.</p>
                            </header>
                            
                            <div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin-bottom: 2rem;">
                                <iframe src="https://player.vimeo.com/video/944659623" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" allowfullscreen></iframe>
                            </div>

                            <p style="text-align: center;">Desde mi experiencia liderando equipos en entornos de alto tráfico hasta mi labor técnica en eventos de gran envergadura, busco siempre soluciones creativas y flujos de trabajo eficientes. Te invito a conocer mi trayectoria y mi visión del cine híbrido.</p>
							
							<p style="text-align: center;">A continuación podrás encontrar algunos de los proyectos en los que he participado, junto a ellos podrás encontrar material visual o reflexiones sobre mi experiencia.</p>

                            <ul class="actions">
                                <li><a href="#posts-anchor" class="button big">Ver proyectos</a></li>
                            </ul>
                        </article>

            {% if site.posts != null %}

                    <section class="posts" id="posts-anchor">
                  {% for post in site.posts %}
                            <article>
                                    <header>
                                            <span class="date">
                                                    {% assign m = post.date | date: "%-m" %}
                                                    {{ post.date | date: "%-d" }} de
                                                    {% case m %}
                                                      {% when '1' %}enero
                                                      {% when '2' %}febrero
                                                      {% when '3' %}marzo
                                                      {% when '4' %}abril
                                                      {% when '5' %}mayo
                                                      {% when '6' %}junio
                                                      {% when '7' %}julio
                                                      {% when '8' %}agosto
                                                      {% when '9' %}septiembre
                                                      {% when '10' %}octubre
                                                      {% when '11' %}noviembre
                                                      {% when '12' %}diciembre
                                                    {% endcase %}
                                                    de {{ post.date | date: "%Y" }}
                                                </span>
                                        <h2><a href="{{ post.url  | relative_url }}">{{ post.title }}</a></h2>
                                </header>
                                <a href="{{ post.url  | relative_url }}" class="image fit"><img src="{{ post.image }}" alt="" /></a>
                                <p>{{ post.excerpt }}</p>
                                <ul class="actions">
                                        <li><a href="{{ post.url  | relative_url }}" class="button">Ver más</a></li>
                                </ul>
                        </article>
              {% endfor %}
                </section>

        <footer>
                <div class="pagination">
                        <a href="#" class="page active">1</a>
                        <span class="extra">&hellip;</span>
                        <a href="#" class="next">Siguiente</a>
                </div>
        </footer>

{% endif %}

        {% include footer.html %}

    </body>

</html>